.headshot {
    max-width: 250px;
    height: auto;
}

.photoArea {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
}

.centerText {
    text-align: center;
}

.mediaIcon {
    text-decoration: none;
    outline: none;
}

* {
    margin: 0;
    padding: 0;
}

.contactBox {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: space-evenly;
    flex-wrap: wrap;
}

.contactLink {
    color: rgb(104, 238, 104);
}

.contactLink:hover {
    color: rgb(57, 194, 57);
}

.contactLink:visited {
    color: violet;
}

.mediaIcons {
    display: flex;
    align-items: space-evenly;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
}

.boxIcon {
    flex: 18%;
}

.footerIcon {
    font-size: 36px;
}

/* https://www.w3schools.com/css/css3_mediaqueries.asp */
@media screen and (min-width: 1024px) {
    .mainHeader {
        font-size: 96px;
        padding-top: 40px;
    }
    .headshot {
        max-width: 250px;
    }
    .subHeader {
        font-size: 48px;
    }
    .sectionHeader {
        font-size: 60px;
        padding-top: 46px;
    }
    .sectionText {
        font-size: 20px;
    }
    .photoArea {
        width: 60%;
    }
}

@media screen and (min-width: 1024px) {
    .navIcons {
        float: right;
    }
    .contactCell {
        flex: 46%;
    }
}

@media screen and (max-width: 1023px) {
    .navicons {
        float: left;
    }
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .mainHeader {
        font-size: 80px;
        padding-top: 50px;
    }
    .headshot {
        max-width: 200px;
    }
    .subHeader {
        font-size: 42px;
    }
    .sectionHeader {
        font-size: 48px;
        padding-top: 24px;
    }
    .sectionText {
        font-size: 18px;
    }
    .photoArea {
        width: 70%;
    }
    .contactCell {
        flex: 46%;
    }
}

@media screen and (max-width: 768px) and (min-width: 601px) {
    .mainHeader {
        font-size: 48px;
        padding-top: 60px;
    }
    .headshot {
        max-width: 150px;
    }
    .subHeader {
        font-size: 36px;
    }
    .sectionHeader {
        font-size: 36px;
        padding-top: 52px;
    }
    .sectionText {
        font-size: 16px;
    }
    .photoArea {
        width: 80%;
    }
    .contactCell {
        flex: 100%;
    }
}

@media screen and (max-width: 601px) {
    .mainHeader {
        font-size: 36px;
        padding-top: 60px;
    }
    .headshot {
        max-width: 100px;
    }
    .subHeader {
        font-size: 30px;
    }
    .sectionHeader {
        font-size: 24px;
        padding-top: 52px;
    }
    .sectionText {
        font-size: 14px;
    }
    .photoArea {
        width: 80%;
    }
    .contactCell {
        flex: 100%;
    }
    .footerIcon {
        font-size: 16px;
    }
}

@media screen and (min-width: 768px) {
    .photoItem {
        flex: 39%;
    }
}

@media screen and (max-width: 768px) {
    .photoItem {
        flex: 100%;
    }
}